<section>
<button mat-raised-button (click)="raisePopUpInvoice()" class="demo-button">
    Create New Invoice
</button>
 <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="supplierName">
      <th mat-header-cell *matHeaderCellDef> Supplier Name </th>
      <td mat-cell *matCellDef="let element"> {{element.supplierName}} </td>
    </ng-container>

    <ng-container matColumnDef="customerName">
        <th mat-header-cell *matHeaderCellDef> Customer Name </th>
        <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
      </ng-container>
  
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date | date : "dd/MM/y"}} </td>
    </ng-container>
    <ng-container matColumnDef="dueDate">
      <th mat-header-cell *matHeaderCellDef> Due Date </th>
      <td mat-cell *matCellDef="let element"> {{element.dueDate | date : "dd/MM/y"}} </td>
    </ng-container>
  
    <ng-container matColumnDef="subTotal">
      <th mat-header-cell *matHeaderCellDef> Sub Total </th>
      <td mat-cell *matCellDef="let element"> {{element.subTotal | currency: "ILS"}} </td>
    </ng-container>
  
    <ng-container matColumnDef="invoiceStatus">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.invoiceStatus}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
    (click)="onRowClick(row)"></tr>
  </table>   
</section>
