:host {
    display: flex;
    height: calc(100% - 95px);
    flex-direction: column;
    padding: 10px;
    width: 720px;
    margin-right: auto;
    margin-left: auto;
}

header {
    color: #c6c5c3;
  }
  header.medium-movies {
    color: #53ace4;
  }
  header.medium-series {
    color: #45bf94;
  }
  header > h2 {
    font-size: 1.4em;
  }
  header > h2.error {
    color: #d93a3e;
  }
  section {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
  }
  section > media-item {
    margin: 10px;
  }

  footer {
    text-align: right;
  }
  
  footer .icon {
    width: 64px;
    height: 64px;
  }

  input{
    width: 685px;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 5px;
  }
  ::placeholder {
    font-size: 15px;
  }
/* Grid's style */
table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
  }
  th.mat-header-cell {
    text-align: left;
    max-width: 300px;
  }
  table th{
    background-color: #54585D;
    color: #ffffff;
    font-size: 13px;
    border: 1px solid #54585d;
  }
  table tr td{
    cursor: pointer;
  }
  tbody td{
    padding: 30px;
  }
  table tr:nth-child(even) td{
    background-color: #f2f2f2;
    /* color: #fff; */
  }
  tr:hover {
    background-color: #ddd;
  }
  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }
  button{
    background-color: #f2f2f2;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 5px;
    cursor: pointer;
  }

  mat-paginator{
    width: 100%;
  }

  .payed{
    color: green;
  }
  .partiallyPayed{
    color: yellow;
  }
  .notPayed{
    color: red;
  }